Source: wlanpi-bluetooth
Section: embedded
Priority: extra
Maintainer: Jiri Brejcha <jirka@jiribrejcha.net>
Build-Depends: debhelper (>=9), build-essential
Standards-Version: 3.9.8
Homepage: https://github.com/WLAN-Pi/wlanpi-bluetooth

Package: wlanpi-bluetooth
Architecture: any
Multi-Arch: foreign
Pre-Depends: bluez-tools
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WLAN Pi Bluetooth features
 Enabled Bluetooth features on the WLAN Pi.
