Source: wlanpi-bluetooth
Section: embedded
Priority: optional
Maintainer: Jiri Brejcha <jirka@jiribrejcha.net>
Uploaders: Adrian Granados <adrian@intuitibits.com>, Ben Toner <ben@numerousnetworks.co.uk>, Josh Schmelzle <josh@joshschmelzle.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://github.com/WLAN-Pi/wlanpi-bluetooth

Package: wlanpi-bluetooth
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, bluez-tools, avahi-daemon, rfkill
Description: WLAN Pi - bluetooth
 Enable Bluetooth features on the WLAN Pi.
