[Unit]
Description=Bluetooth Auth Agent
Requires=bluetooth.target
After=bluetooth.target
BindsTo=bluetooth.service
 
[Service]
ExecStart=/bin/sh -c "/usr/bin/bt-agent --capability=NoInputNoOutput"
ExecStartPost=/bin/sh -c "/usr/bin/bt-adapter -a hci0 --set Alias `hostname`"
ExecStartPost=/bin/sh -c "/usr/bin/bt-adapter -a hci0 --set Powered `cat /etc/wlanpi-bluetooth/state`"
ExecStartPost=/bin/sh -c "/usr/bin/bt-adapter -a hci0 --set Pairable 0"
ExecStartPost=/bin/sh -c "/usr/bin/hciconfig hci1 > /dev/null && /usr/bin/bt-adapter -a hci1 --set Powered 0 || :"
TimeoutStopSec=5
Type=simple
 
[Install]
WantedBy=multi-user.target
