[Unit]
Description=Bluetooth Auth Agent
Requires=bluetooth.target
After=bluetooth.target
 
[Service]
ExecStart=/bin/sh -c '/usr/bin/yes | /usr/bin/bt-agent --capability=NoInputNoOutput' #autoaccept
ExecStartPost=/bin/sh -c "bt-adapter --set Alias wlanpi-`bt-adapter -i | grep Address | awk '{ print $2 }' | sed 's/://g' | tail -c 7`"
ExecStartPost=/bin/sh -c "bt-adapter --set Powered `cat /etc/wlanpi-bluetooth/state`"
ExecStartPost=/bin/sh -c "bt-adapter --set Pairable 0"
TimeoutStopSec=5
Type=simple
 
[Install]
WantedBy=multi-user.target
