[Unit]
Description=Bluetooth NEP PAN
Requires=bluetooth.target
After=network.target bluetooth.target
BindsTo=bluetooth.service

[Service]
ExecStart=/usr/bin/bt-network -s nap pan0
Type=simple

[Install]
WantedBy=multi-user.target